:root {
  --main-color: rgba(0, 0, 0, 0.25);
}

body {
  margin: 0%;
  padding: 0%;
}
.wrapper {
  background: linear-gradient(
    to right,
    rgb(64, 255, 0),
    white,
    orange,
    red,
    white,
    blue,
    green,
    white
  );
  align-items: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  font-size: 2rem;
  flex-direction: column;
}

.mainParent {
  width: 350px;
  background:linear-gradient(rgb(214, 6, 6), green, black)
  padding: 1rem;
  border: 25px;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
}

/* display section  */
.result {
  border-color: rgb(250, 249, 247);
  border-radius: 25px;
  padding: 1rem;
  font-weight: bolder;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.items {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "clear clean divide multi"
    "no7 no8 no9 plus"
    "no4 no5 no6 minus"
    "no1 no2 no3 ans"
    "dot no0 no0 ans";
}
.items > button {
  cursor: pointer;
  min-height: 70px;
  box-shadow: -4px 4px 5px rgb(35, 4, 97);
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 25px;
  color: var(--main-color);
  background: rgb(247, 241, 241);
}

.Clear {
  grid-area: clear;
}
.clean {
  grid-area: clean;
}
.divide {
  grid-area: divide;
}
.multi {
  grid-area: multi;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.no-7 {
  grid-area: no7;
}
.no-8 {
  grid-area: no8;
}
.no-9 {
  grid-area: no9;
}
.no-4 {
  grid-area: no4;
}
.no-5 {
  grid-area: no5;
}
.no-6 {
  grid-area: no6;
}
.no-1 {
  grid-area: no1;
}
.no-2 {
  grid-area: no2;
}
.no-3 {
  grid-area: no3;
}
.no-0 {
  grid-area: no0;
}
.dot {
  grid-area: dot;
}
.ans {
  grid-area: ans;
}

.prank {
  animation: shake 0.3s ease-in;
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
